@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Doancoso.Models.SANPHAM>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-12 top_brand_left">
    <h2 style=" margin-left: 9%;">Kết quả tìm kiếm</h2>
    <h5 style=" margin-left: 8%; margin-top: 5px;">@ViewBag.ThongBao</h5>
</div>
<div class="product-easy">
    <div class="container">

        <script src="~/Scripts/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });

        </script>
        @foreach (var sanpham in Model)
        {


            <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img title=" " alt="@sanpham.TenSanPham" src="~/images/@sanpham.Anh" class="pro-image-front">
                        <img title=" " alt="@sanpham.TenSanPham" src="~/images/@sanpham.Anh" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="@Url.Action("Details", "TTrangStore", new { id = sanpham.MaSanPham })" class="link-product-add-cart">XEM</a>
                            </div>
                        </div>


                    </div>
                    <div class="item-info-product ">
                        <h4>@sanpham.TenSanPham</h4>
                        <div class="info-product-price">
                            <span class="item_price">@sanpham.Giaban Đồng</span>
                        </div>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaSanPham = @sanpham.MaSanPham, @strURL=Request.Url.ToString() })" class="item_add single-item hvr-outline-out button2">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@*<div class="col-md-12 top_brand_left">
    <div class="container">
        <div style="color:#ff0000;margin-top:2%; margin-left:15%;">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        </div>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
        </div>
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
        margin-left: 15%;
    }
</style>*@
